:root {
  --primary-accent-section__title-color: #d41443;
  --secondary-accent-color: #ffa5ba;
  --primary-bcg-color: #ffffff;
  --accent-bcg-color: #fff5f6;
  --text-color: #907e82;
  --accent-text-color: #000000;
  --text-font: 'DM Sans', sans-serif;
  --section__title-font: 'Titan One', cursive;
  --grid-gap: 30px;
  --grid-item: 1;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2e2520;
  background-color: #fff;
}

@media screen and (min-width: 1280px) {
  body {
    font-size: 18px;
    line-height: 1.22;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 665px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 854px;
  }
}

.section__title {
  font-family: Caveat Brush;
  font-weight: 400;
  font-size: 24px;
  line-height: 2.71;
  color: #2e2520;
}

@media screen and (max-width: 767.98px) {
  .section__title {
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .section__title {
    font-size: 36px;
    line-height: 1.81;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-list__icon {
  height: 15px;
  max-width: 20px;
  fill: #2e2520;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1280px) {
  .social-list__icon {
    height: 19px;
    max-width: 24px;
  }
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #ab816c;
}

.social-list__item:not(:last-child) {
  margin-right: 9.5px;
}

@media screen and (min-width: 1280px) {
  .social-list__item:not(:last-child) {
    margin-right: 12px;
  }
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 145px;
  height: 40px;
  font-family: 'Caveat Brush';
  font-size: 18px;
  line-height: 3.61;
  color: #fff;
  background-color: #ab816c;
  border: 1px solid transparent;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1280px) {
  .btn {
    min-width: 158px;
    height: 45px;
    font-size: 24px;
    line-height: 2.71;
  }
}

.btn:focus, .btn:hover {
  background-color: #fff;
  border: 1px solid #ab816c;
  color: #ab816c;
}

@media screen and (min-width: 768px) {
  .about__content-wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .about__img-wrap {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-40px, 10px);
            transform: translate(-40px, 10px);
  }
}

@media screen and (min-width: 1280px) {
  .about__img-wrap {
    -webkit-transform: translateX(-140px);
            transform: translateX(-140px);
  }
}

@media screen and (min-width: 768px) {
  .about__text-wrap {
    max-width: 336px;
  }
}

@media screen and (min-width: 1280px) {
  .about__text-wrap {
    max-width: 392px;
    padding-top: 100px;
    padding-bottom: 39px;
    padding-right: 5px;
  }
}

@media screen and (min-width: 1280px) {
  .about__text-wrap--textblock-hidden {
    display: none;
  }
}

@media screen and (max-width: 1279.98px) {
  .about__text-wrap--textblock-visable {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .about__text-wrap--textblock-visable {
    display: block;
  }
}

.about__text {
  margin-top: 20px;
}

@media screen and (min-width: 1280px) {
  .about__text {
    margin-top: 22px;
  }
}

.truncate_more_link {
  display: inline-block;
  font-family: 'Caveat Brush', cursive;
  font-size: 18px;
  line-height: 3.61;
  color: #ab816c;
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  .about__text-add {
    margin-top: 22px;
  }
}
/*# sourceMappingURL=main.css.map */